<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">

    <title>VueJS Blog</title>
  </head>
  <body>
    <div id="app" class="container">
      <div id="AppContent">

        <header class="columns is-vcentered">
          <div v-if="authorImage" class="author-image column is-narrow">
            <router-link v-if="blogHeading" class="title is-3 has-text-primary" to="/">
              <figure class="image is-128x128">
                <img :src="authorImage">
              </figure>
            </router-link>
          </div>

          <div class="header-content column">
            <a class="is-pulled-right button is-small is-primary is-inverted is-rounded" href="https://www.shanehoban.com/vueblog/#/post/683qaLiSk5tHDKKNeudzRf" target="_blank">Changelog</a>
            <nav class="content">
              <router-link v-if="blogHeading" class="title is-3 has-text-primary" to="/" v-html="blogHeading"></router-link>
              <router-link v-else="blogHeading" class="title is-3 has-text-primary" to="/">VueBlog Home</router-link>
            </nav>

            <p class="content" v-if="blogInfo" v-html="blogInfo"></p>

            <github-button v-if="enableGithubButton" href="https://github.com/shanehoban/vueblog" data-size="large" data-show-count="true" aria-label="Star shanehoban/vueblog on GitHub">Star</github-button>
          </div>
          <div class="is-clearfix"></div>
        </header>
          
          <div class="content social-links" v-if="socialLinks">
            <social-link v-for="(link, name) in socialLinks" :link="link" :name="name" :key="name"></social-link>
          </div>


        <div class="Loader">
          <div class="level">
            <div class="level-item">
              <div class="has-text-centered">
                <div class="loading-text has-text-weight-bold">Loading</div>
                <div class="button is-primary is-loading">Loading</div>
              </div>
            </div>
          </div>
        </div>
  
        <router-view class="router-view content"></router-view>

        <hr>
        <small class="has-text-grey">
          <a :href="homepageURL" target="_blank">{{ homepageURLText }}</a> | {{ author }} &copy; {{ year }} | Built with VueJS <i class="fab fa-vuejs"></i>
        </small>

      </div>
    </div>
    <script src="dist/build.js"></script>
  </body>
</html>
